<html>

<head>
    <title>Cadastro</title>
    <link rel= "stylesheet" type= "text/css" href="static\styles\cadastro.css">
</head>

<body>

    <h1>Cadastro</h1>
    <form action="/f_cadastro" method="post">
        Nome completo: <input type='nome' id='nome' name='nome', placeholder="Nome Completo" > <br>
        DRE: <input type='dre' id='dre' name='dre', placeholder="dre sem pontos" > <br>
        Curso: <input type='curso' id='curso' name='curso', placeholder="Sigla" > <br>
        Email: <input type='email' id='email' name='email', placeholder="email" required> <br>
        Senha: <input type='password' id='senha' name='senha', , placeholder="senha" required> <br>
        Repetir senha:<input type='password' id='repetesenha' name='repetesenha', placeholder="repete senha" required> <br>
        <input type="submit" value="Enviar">
        {{erro1}}
        {{erro2}}
    </form>

</body>

</html>