<!DOCTYPE html>
<html>
    <head>
        <title>Lista das salas</title>
    </head>
    <body>
        <h1>Selecione a sala</h1>
        <form action="/sh323" method="post">
            <input type="submit" value="sala H323">""   
        </form>
        <form action="/sd206" method="post">
            <input type="submit" value="sala D206">""   
        </form>
        <form action="/sd216" method="post">
            <input type="submit" value="sala D216">""   
            
        </form>
    </body>
</html>