<html>

<head>
     <title> Visualizar Salas</title>
     <link href="static\styles\salas.css" rel="stylesheet">
</head>

<body>
     <body topmargin="0" leftmargin="0" rightmargin="0"></body>
     <h1>Salas</h1>

     <form action="/sd206" method="post">
          <input type="submit" value="Sala D206">
     </form>

     <form action="/sd216" method="post">
          <input type="submit" value="Sala D216">
     </form>

     <form action="/sh323" method="post">
          <input type="submit" value="Sala H323">
     </form>

     <form action="/home" method="post">
          <input type="submit" value="Voltar">
     </form>
     

</body>

</html>






















</html>