h1 {
  top: 0;
  padding: 60px 0;
  text-align: center;
  font-size: 40px;
  background-image: linear-gradient(to right,  rgb(255, 25, 0) ,  rgb(255, 0, 98));
  color: white;
  width: 100%;
  font-family: "Monaco";
  margin: 0px;
}
  
input {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 700px;
  font-size: 15px;
  border-radius: 30px;
  border: 0px;
  width: 400px;
  display: block;
  padding: 30px 4%;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  
  
}

input[type="submit"] {
      
  cursor: pointer;
  border: 0px;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  background-color: rgb(238, 238, 238);
}

input[type="submit"]:hover { 
  background-color:rgb(255, 0, 43);
  color: white; 
  font-size: 30px;
}
